#command-line {
    -fx-background-color: #222222;
    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #222222;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: gray;
}

.context-menu {
    -fx-background-color: #222222;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.sound-button {
    -fx-background-color: gray;
    -fx-background-radius: 0;

    -fx-font-family: sans-serif;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.sound-button:hover {
    -fx-background-color: darkgray;
}

.sound-button:armed {
    -fx-background-color: seagreen;
}

.sound-button:focused {
    -fx-border-color: black;
    -fx-border-width: 2px;
}
